life expectancy node red flow.json
[{"id":"b4c1e086.6150a","type":"tab","label":"life expectancy","disabled":false,"info":""},{"id":"6c073639.6d65b8","type":"function","z":"b4c1e086.6150a","name":"","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"sts\",msg.payload.sts)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hep\",msg.payload.hep)\nglobal.set(\"mes\",msg.payload.mes)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"pol\",msg.payload.pol)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"dph\",msg.payload.dph)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"thin\",msg.payload.thin)\nglobal.set(\"thinn\",msg.payload.thinn)\nglobal.set(\"ic\",msg.payload.ic)\nglobal.set(\"scl\",msg.payload.scl)\nvar apikey=\"TccYWxhIh5-X8Xi42csCUzY9hT79Vs6aMN2-uViMoVPm\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["968e529c.fb426"]]},{"id":"968e529c.fb426","type":"http request","z":"b4c1e086.6150a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":360,"wires":[["8acf15f7.5f8948"]]},{"id":"fe313dce.6a8cf","type":"debug","z":"b4c1e086.6150a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":160,"wires":[]},{"id":"8acf15f7.5f8948","type":"function","z":"b4c1e086.6150a","name":"","func":"var country = global.get('country')\nvar yr = global.get('yr')\nvar sts = global.get('sts')\nvar am = global.get('am')\nvar id = global.get('id')\nvar alc = global.get('alc')\nvar pe = global.get('pe')\nvar hep = global.get('hep')\nvar mes = global.get('mes')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar pol = global.get('pol')\nvar te = global.get('te')\nvar dph = global.get('dph')\nvar ha = global.get('ha')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar thin = global.get('thin')\nvar thinn = global.get('thinn')\nvar ic = global.get('ic')\nvar scl = global.get('scl')\nvar token=msg.payload.access_token\nvar instance_id=\"3ce2a322-5d19-4499-8624-9ed72aa7cdcf\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\":[[country,yr,sts,am,id,alc,pe,hep,mes,bmi,ufd,pol,te,dph,ha,gdp,pop,thin,thinn,ic,scl]] }]}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["2ad2dabd.2ebed6"]]},{"id":"2ad2dabd.2ebed6","type":"http request","z":"b4c1e086.6150a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/e8c7d47a-6874-443f-aa2c-c610db4b528d/predictions","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":360,"wires":[["d8740f09.65c17"]]},{"id":"11cb343.013b5cc","type":"ui_form","z":"b4c1e086.6150a","name":"","label":"","group":"695ac23d.e3b9dc","order":1,"width":0,"height":0,"options":[{"label":"country name","value":"country","type":"text","required":true,"rows":null},{"label":"year","value":"yr","type":"number","required":false,"rows":null},{"label":"status","value":"sts","type":"text","required":false,"rows":null},{"label":"adult mortality","value":"am","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"id","type":"number","required":false,"rows":null},{"label":"alcohol","value":"alc","type":"number","required":false,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"hep","type":"number","required":false,"rows":null},{"label":"Measles","value":"mes","type":"number","required":false,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"ufd","type":"number","required":false,"rows":null},{"label":"Polio","value":"pol","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"dph","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"ha","type":"number","required":false,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":false,"rows":null},{"label":"Population","value":"pop","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"thin","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"thinn","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"ic","type":"number","required":false,"rows":null},{"label":"Schooling","value":"scl","type":"number","required":false,"rows":null}],"formValue":{"country":"","yr":"","sts":"","am":"","id":"","alc":"","pe":"","hep":"","mes":"","bmi":"","ufd":"","pol":"","te":"","dph":"","ha":"","gdp":"","pop":"","thin":"","thinn":"","ic":"","scl":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":340,"wires":[["6c073639.6d65b8"]]},{"id":"5df788ed.15f258","type":"ui_text","z":"b4c1e086.6150a","group":"695ac23d.e3b9dc","order":2,"width":0,"height":0,"name":"","label":"predicted life expectancy","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":40,"wires":[]},{"id":"d8740f09.65c17","type":"function","z":"b4c1e086.6150a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["fe313dce.6a8cf","5df788ed.15f258"]]},{"id":"695ac23d.e3b9dc","type":"ui_group","z":"","name":"details","tab":"9fa339fb.d0fc08","order":3,"disp":true,"width":"6","collapse":false},{"id":"9fa339fb.d0fc08","type":"ui_tab","z":"","name":"lyf exp","icon":"le","order":1,"disabled":false,"hidden":false}]